/** -------------- Estilos Stack Tecnológico Abilities.tsx -------------- */
@import url("./keyframes.css");
@import url("./colors.css");

.habilidades-titulo {
    margin: 1.2em;
    padding: 0.3em;

    text-align: center;
    text-decoration: underline;

    color: var(--color-primario);
}

.programming-titulo {
    margin: 1.2em;
    padding: 0.3em;

    text-align: center;
    text-decoration: underline;

    color: var(--color-terciario);
}

.programming-icon {
    height: 8em;
    width: 8em;

    margin: 1em 0em 0em 1.8em;
    padding: 0.5em;

    border-radius: 50%;
    -webkit-animation: flotar 6s ease-in-out infinite;
    animation: flotar 6s ease-in-out infinite;
}

.programming-subtitulo {
    text-align: center;
    color: var(--color-secundario);
}

@media screen and (min-width: 900px) {
    .tools {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .herramientas-img {
        margin-left: 4em;
        padding: 1em;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .bibliotecas-img {
        margin-left: 4em;
        padding: 1em;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .especialidades {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .programming-img {
        margin-left: 4em;
        padding: 1em;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}