:root {
    --color-primario: rgb(30, 144, 255);
    --color-secundario: rgb(199, 21, 133);
    --color-terciario: rgb(144, 238, 144);
    --color-complementario: rgb(255, 69, 0);
    --blanco: #ffffff;
    --negro: #000000;
    --outlines: rgb(224, 228, 204);
}