:root {
    --color-primario: rgb(13, 193, 238);
    --color-secundario: rgb(238, 13, 193);
    --color-terciario: rgb(193, 238, 13);
    --color-complementario: rgb(238, 58, 13);
    --blanco: #ffffff;
    --negro: #000000;
    --outlines: rgb(224, 228, 204);
}