@import url("./keyframes.css");
@import url("./colors.css");

/** -------------- Estilos de Presentación Developer.tsx -------------- */

.dev-presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2vh;
}

.dev-presentacion .dev-nombre {
    margin: 0.7vh;
    padding: 0.8vh;

    font-size: 1.5rem;
    text-align: center;
}

.dev-presentacion .dev-nombre .subtitulos .dev-subtitulo {
    color: var(--color-primario);
}

.dev-presentacion .dev-img {
    margin: 1.3em;

    width: 20rem;
    height: 20rem;
    box-sizing: border-box;

    border: 2px var(--color-primario) solid;
    border-radius: 50%;
    border-image: auto;

    overflow: hidden;
    box-shadow: 0 10px 25px 0px var(--blanco);

    transform: translatey(0px);
    -webkit-animation: flotar 6s ease-in-out infinite;
    animation: flotar 6s ease-in-out infinite;
}

.dev-presentacion .dev-img .foto-presentacion {
    border-radius: 50%;
}

.dev-presentacion .botones {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 1.2em;
    padding: 0.6em;
}

.dev-presentacion .botones .curriculum-boton {
    margin: 0.3em;
    padding: 0.2em;

    font-size: 1.4rem;

    outline: 6px dashed var(--outlines);
    box-shadow: 0 0 0 6px var(--color-primario);
    animation: 1s animateBorder infinite;
    border-radius: 10px;

    background-color: var(--color-primario);

    text-decoration: none;
    color: var(--blanco);
}

.botones .curriculum-boton:hover {
    background-color: var(--color-secundario);
    outline: 6px dashed var(--outlines);
    box-shadow: 0 0 0 6px var(--color-secundario);
    border: solid 3px var(--color-secundario);
}

.dev-presentacion .sociales {
    font-size: 2.5rem;
}

.dev-presentacion .sociales .github-boton {
    margin: 0.3em;
    padding-right: 0.5em;

    text-decoration: none;
    color: var(--color-secundario);
}

.dev-presentacion .sociales .linkedin-boton .linkedin-boton-icon {
    text-decoration: none;
    color: var(--color-secundario);
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.dev-presentacion .sociales .github-boton-icon {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

.dev-presentacion .sociales .github-boton .github-boton-icon:hover {
    animation: blink-1 0.6s both;
    color: var(--color-primario);
}

.dev-presentacion .sociales .linkedin-boton .linkedin-boton-icon:hover {
    animation: blink-1 0.6s both;
    color: var(--color-primario);
}