@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Tiny5&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poetsen One", serif;
    /**
    font-family: "DM serif text", serif;  
    */
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #1a2431;
    color: #fff;
    overflow: hidden;
}