@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Katibeh", serif;
    font-weight: 400;
    font-size: 1.9rem;
    font-style: normal;
}