@import url("./colors.css");


.navbar {
    background-color: var(--color-primario);
}

.navbar-item:hover {
    color: var(--color-secundario) !important;
    border-radius: 10px;
    transition: ease 0.8s;
}

.active {
    color: var(--color-secundario) !important;
    border-radius: 10px;
}